* {
  margin: 0px;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Gorditas:wght@700&family=Poppins&display=swap");

/* initial page styling */
#container {
  height: 100vh;
  background-color: rgb(181, 181, 181);
}

header {
  width: auto;
  height: 15%;
  background-color: rgb(255, 161, 46);
  display: flex;
  align-items: center;
}
.header-heading {
  color: white;
  margin-left: 20px;
  font-size: 4rem;
  font-family: "Gorditas", cursive;
}

main {
  background-color: rgb(255, 241, 223);
  height: 80%;
  display: flex;
}
button {
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
}

.sidebar {
  flex: 1;
  background-color: rgb(255, 222, 179);
  display: flex;
  flex-direction: column;
}

nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.projects-div {
  flex: 2;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-section {
  flex: 4;
  display: flex;
  justify-content: flex-start;
  padding: 30px;
}

.to-do-section {
  width: 100px;
  height: 100%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5%;
  background-color: rgb(255, 161, 46);
}

.nav-btn {
  width: 50%;
  padding: 10px;
  margin-left: 20px;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  color: brown;
  text-align: start;
}

.nav-btn:hover {
  background-color: rgb(255, 241, 223);
}

.projects-div-heading {
  border-bottom: 1px solid brown;
  color: brown;
  width: 100%;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
}

.add-btn {
  width: 50%;
  padding: 10px;
  margin-left: 20px;
  border: none;
  color: brown;
  background-color: transparent;
  font-size: 1.5rem;
  align-self: flex-start;
  text-align: start;
}

.add-btn:hover {
  background-color: rgb(255, 241, 223);
}

/* input-item-styling */
.item-form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.item-form-button-div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.add-item-btn,
.close-item-btn {
  width: 49%;
  padding: 5px;
  border: none;
  color: white;
}

.close-item-btn {
  background-color: rgb(255, 73, 73);
}

.add-item-btn {
  background-color: rgb(81, 170, 81);
}

input {
  border: none;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 5px;
}
